

body {
  background-image: url(assets/for-backgorund.jpg.jpg) ;
  background-size: cover;
  
}

.log-container{
margin: auto;
display: flex;
justify-content: center;
align-items: center;
border: 2px gray ;
width: 500px;
height: 500px;
border-radius: 1.3rem;
background-color: rgba(161, 161, 161, 0.74);
box-shadow:10px 5px 3px grey;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.inputs{
width:400px;
height: 50px;
font-size: 30px;
}
.feedback{
font-size: 20px;  
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: auto;
  border: none;
  border-radius: 1.3rem;
  background-color: rgba(0, 0, 0, 0.164);
  margin: auto;
  width: 25%;
  color: #ffffff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
